[Desktop Entry]
Name=Secrets
Comment=A password manager for GNOME
Icon=org.gnome.World.Secrets
Exec=/usr/local/bin/secrets-nfc %F
Terminal=false
Type=Application
Categories=Utility;GTK;GNOME;
MimeType=application/x-keepass2;
Keywords=keepass;encrypt;secure;
X-Purism-FormFactor=Workstation;Mobile;
Actions=new-window;

[Desktop Action new-window]
Exec=/usr/local/bin/secrets-nfc
Name=New Window
Icon=window-new
